## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.sln.docstates
